* {
    box-sizing: border-box;
}

:root {
    --hero-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/*================ Common =================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: -height;
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* =================== Hero =================== */
.hero {
    min-height: 100vh;
    padding-top: 30px;
    background-color: var(--hero-bg);
    color: #c9d2da;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ==== Logo ==== */
.logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand--big {
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* ==== Navbar ==== */
.navbar {
    display: flex;
}
.action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link--action:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.navbar__link--action::before {
    content: "";
    display: inline-block;
    position: relative;
    left: -8px;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

/* ==== buton ===== */
.action__signup {
    --height: 44px;
    min-width: 104px;
}

/* ====================== Hero-Main content ====================== */
/* hero-content */
.hero__main--content {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero-content {
    width: 50%;
    height: 420px;
}

.content__heading {
    color: #fff;
    font-family: Sora;
    font-size: 7rem;
    font-weight: 600;
    line-height: 114.286%;
}

.content__description {
    width: 468px;
    margin-top: 22px;
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

.hero-box {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero-box__btn {
    margin-right: 38px;
}

/* Hero media */
.hero-media {
    display: flex;
    align-items: center;
}

.media__image1 {
    width: 330px;
    height: 540px;
    object-fit: cover;
}

.media__image2 {
    width: 210px;
    height: 410px;
    object-fit: cover;
}

/* ======================= Service ======================= */
.service__heading {
    margin-top: 170px;
    color: #10375c;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
}

.service__heading--description {
    width: 468px;
    margin: auto;
    color: #575f66;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 166.667%;
}

.service__box--2 {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.service-image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__pack {
    margin-left: 130px;
}

.service__pack--1,
.service__pack--2,
.service__pack--3 {
    display: flex;
    align-items: center;
}

.service__name {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service__name--ds {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.all-service {
    margin-top: 75px;
}

/* ========================= work ========================= */
.work {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f6fbff;
}

.work__text {
    color: #10375c;
    font-family: Sora;
    font-size: 50px;
    font-weight: 600;
}

.work__text-decs {
    width: 468px;
    margin-top: 18px;
    color: #575f66;
    font-family: Sora;
    font-size: 18px;
    font-weight: 300;
    line-height: 166.667%;
}

.work__box {
    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.frame {
    padding: 43px 0 0 42px;
    border: 16px solid #eaf6ff;
}

.frame:hover {
    border-color: #2e80ce;
}

.search__text,
.find__text,
.treatment__text {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 138.462%;
}

.search__text--desc,
.find__text--desc,
.treatment__text--desc {
    width: 254px;
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.learn-more {
    display: block;
    margin-top: 18px;
    margin-bottom: 43px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

/* ================= Commit =================== */
.commit {
    padding-top: 170px;
}

.commit-box {
    display: flex;
    align-items: center;
}

.img-box {
    width: 50%;
}

.commit-image1 {
    width: 512px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.commit-image2 {
    width: 332px;
    height: 370px;
    object-fit: cover;
    position: relative;
    border-radius: 6px;
    top: 121px;
    left: 238px;
}

.text-box {
    width: 50%;
    padding-left: 130px;
}

.commit__heading {
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
}

.commit__heading--desc {
    margin-top: 18px;
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%; /* 166.667% */
}

.commit-btn {
    margin-top: 38px;
}

/* ==================== Team ======================= */
.team {
    margin-top: 253px;
}

.team__heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
}

.team__btn {
    margin-top: 38px;
    margin-left: calc((100% - 205px) / 2);
    margin-right: calc((100% - 205px) / 2);
}

.team__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.member__img {
    width: 270px;
    height: 318px;
    border-radius: 6px;
    object-fit: cover;
}

.member__name {
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.member__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 185.714%;
}

.team__buton {
    margin-top: 38px;
}

.team__btn--next,
.team__btn--back {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 99px;
    text-align: center;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #575f66;
}

.team__btn--next:hover,
.team__btn--back:hover {
    background-color: #2e80ce;
    scroll-behavior: smooth;
    cursor: pointer;
}

.team__btn--next {
    margin-left: calc((100% - 72px + 18px) / 2);
    margin-right: 18px;
}
